# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# db
postgres

# docker
Dockerfile
docker-compose.yml

# todo list
todo.md

# config
.env
.env.development
.env.production
.env.testing
.env.*

# shell script
push.sh

ormconfig.ts
Dockerfile.dev

#eslint
.eslintrc.js